@font-face {
  font-family: 'fonticon-leaverou';
  src:  url('fonts/fonticon-leaverou.eot?fepuki');
  src:  url('fonts/fonticon-leaverou.eot?fepuki#iefix') format('embedded-opentype'),
    url('fonts/fonticon-leaverou.ttf?fepuki') format('truetype'),
    url('fonts/fonticon-leaverou.woff?fepuki') format('woff'),
    url('fonts/fonticon-leaverou.svg?fepuki#fonticon-leaverou') format('svg');
  font-weight: normal;
  font-style: normal;
}
